## Block 1

In [1]:
import numpy as np
import pandas as pd
from google.colab import files

## Block 2

In [2]:
files.upload()
data = pd.read_csv('problem_set_1_data.csv') # data is the variable used to name the data set
data = data.rename(columns = {'quizzes':'quiz_total', 'attendedClass':'attended', 'finalgrade':'final_grade', 'final_EXAM':'final_exam', 'student':'name'})
print('\n')
print('head of dataframe = \n', data.head(), '\n')
print('tail of dataframe = \n',data.tail(), '\n')
print('summary of dataframe = \n',data.describe())

Saving problem_set_1_data.csv to problem_set_1_data.csv


head of dataframe =
    quiz_total  attended  final_grade  final_exam               name
0       78.50         1        99.38          46       Linnie Lietz
1       64.25         0        95.78          45      Mitch Mustain
2       76.75         0        97.42          41     Salina Chavera
3       69.00         1        92.50          38  Kimberely Conwell
4       64.00         0        92.50          39          Zack Burk

tail of dataframe =
      quiz_total  attended  final_grade  final_exam                 name
166        73.5         0        96.25          45           Dana Malta
167        75.5         0        98.13          44         Sixta Heyden
168        41.0         0        69.38          32       Brianne Broome
169        77.0         0       101.25          47  Elouise Weatherholt
170        72.0         0        92.81          38        Addie Maharaj

summary of dataframe =
        quiz_total    attended  final_grade  final_exam
count  171.000000  171.000000   171.000000  171.000000
mean    69.131579    0.192982    91.855380   39.672515
std      9.488473    0.395798     9.487795    5.511304
min      0.000000    0.000000     2.500000    0.000000
25%     65.500000    0.000000    89.380000   37.000000
50%     72.000000    0.000000    93.130000   40.000000
75%     75.500000    0.000000    96.360000   44.000000
max     79.500000    1.000000   104.380000   49.000000

The averages from the dataframe shows the class averages for each column. The average score for the quizzes out of all the students is 69.13 which is good considering the highest score was 79.5. The average for attended is .19 out of 1, which can mean that a lot more students did not attend class than the number of those who attended. The average score for the final grade is 91.86% which can mean that a lot of students completed the class with A-/B+. The average for the final exam is 39.67 which means that a lot of students did good since the highest score was 49.

## Block 3

In [3]:
# Subset data
no_attend_ind = data['attended']==0
did_not_attend = data[no_attend_ind]
attend_ind = data['attended']==1
attended = data[attend_ind]
# Taking the averages
avg_quiz_total_attended = attended['quiz_total'].mean()
avg_final_grade_attended = attended['final_grade'].mean()
avg_final_exam_attended = attended['final_exam'].mean()
print("For those who attended class, the quiz_total average =", avg_quiz_total_attended,"final_grade average =", avg_final_grade_attended,"final_exam =", avg_final_exam_attended)
avg_quiz_total_didnot_attended = did_not_attend['quiz_total'].mean()
avg_final_grade_didnot_attended = did_not_attend['final_grade'].mean()
avg_final_exam_didnot_attended = did_not_attend['final_exam'].mean()
print("For those who did not attend class, the quiz_total average =", avg_quiz_total_didnot_attended,"final_grade average =", avg_final_grade_didnot_attended,"final_exam =", avg_final_exam_didnot_attended)

For those who attended class, the quiz_total average = 72.5 final_grade average = 95.07212121212123 final_exam = 40.63636363636363
For those who did not attend class, the quiz_total average = 68.32608695652173 final_grade average = 91.08615942028983 final_exam = 39.44202898550725

From the results, I found that those who attended class had a higher final grade, quiz totals, and final exam scores than those who did not attend class.

## Block 4

For 1 bonus point of extra credit: based on the data “quiz_total”, “final_grade”, “final_exam” you have, was anyone working together? If so, spit out their names.

In [4]:
working_together = data[data.duplicated(['quiz_total', 'final_grade', 'final_exam'],keep=False)]
print("The names of people working together: ", '\n','\n',working_together)

The names of people working together:

      quiz_total  attended  final_grade  final_exam           name
146        72.0         0        92.81          38  Jaraham Eidda
170        72.0         0        92.81          38  Addie Maharaj