# Block 1

In [164]:
import pandas as pd

# Block 2

In [165]:
df = pd.read_html('https://en.wikipedia.org/wiki/MonsterVerse')

# Block 3

In [166]:
dataframe = df[3] # Assigning the table we want to a variable 
dataframe = dataframe.set_index(dataframe.columns[0]) # Setting our index 
dataframe.index.names = ['Character'] # Changing our index name 
dataframe.columns = ['Godzilla', 'Kong:Skull Island', 'Godzilla:King of the Monsters','Godzilla vs. Kong']  # Changing our column names
dataframe = dataframe.drop(dataframe.index [ [ 5 ] ]) # Removing the row
dataframe.head(7)

                             Godzilla  ... Godzilla vs. Kong
Character                              ...
Godzilla                  T.J. StormS  ...               CGI
MUTO             Matt CrossSLee RossS  ...   Archive footage
King Kong                         NaN  ...   Eric PeteyS[57]
King Ghidorah                     NaN  ...   Archive footage
Rodan                             NaN  ...   Archive footage
Ishiro Serizawa          Ken Watanabe  ...               NaN
Vivienne Graham         Sally Hawkins  ...               NaN

[7 rows x 4 columns]

# Block 4

In [167]:
dataframe.to_csv('cleandataframe.csv',sep='\t')