# Block 1

In [3]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
data = sns.load_dataset('geyser')

# Block 2

In [4]:
data

     duration  waiting   kind
0       3.600       79   long
1       1.800       54  short
2       3.333       74   long
3       2.283       62  short
4       4.533       85   long
..        ...      ...    ...
267     4.117       81   long
268     2.150       46  short
269     4.417       90   long
270     1.817       46  short
271     4.467       74   long

[272 rows x 3 columns]

In [6]:
data.shape

(272, 3)

In [7]:
272/10

27.2

In [ ]:
27.2/272

# training = 90
# testing = 10

0.09999999999999999

In [ ]:
training_data = []
testing_data = []
for i in range(0,10):